html {
    font-size: 16px;

    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    z-index: 1;

    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;

    background-image: url("../IMGS/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}