@media (max-height: 1200px) {
    #xpl-img {
        width: 25rem;
    }

    #ltr-img {
        width: 25rem;
    }
}

@media (max-height: 600px) {
    #email-img {
        width: 15rem;
    }

    #btn-img {
        width: 5rem;
    }

    #xpl-img {
        width: 15rem;
    }

    #ltr-img {
        width: 15rem;
    }
}

@media (max-width: 500px) {
    html::before {
        height: 6rem;
    }

    body::after {
        border-radius: 10%;
        box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.8),
        inset 0 0 300px rgba(0, 0, 0, 0.5);
    }

    #email-img {
        width: 15rem;
    }

    #btn-img {
        width: 5rem;
    }

    #xpl-img {
        width: 20rem;
    }

    #ltr-img {
        width: 20rem;
    }
}

@media (max-width: 800px) and (min-width: 501px) {
    body::after {
        border-radius: 10%;
        box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.8),
        inset 0 0 600px rgba(0, 0, 0, 0.5);
    }
}